<!-- <html class="image">
  <body> -->
    <div class="topleft">
      <!-- <p>Logo</p> -->
    </div>
    <div class="middle">
        <!-- <h1>PIXELCLIK</h1> -->
      
      <h1>COMING SOON</h1>
      <hr>
      <!-- <p>35 days</p> -->
    </div>
    <div class="login-footer__container">
        <div class="login-footer__left-items">
          <!-- <a href="https://www.doordash.com" target="_blank" rel="noopener noreferrer" class="login-footer__logo">Logo</a> -->
          <span>&copy; 2019 Pixelclik</span>
        </div>
        <div class="login-footer__right-items">
          <a class="twitter-social" href="http://twitter.com/doordash" target="_blank" rel="noopener noreferrer">Twitter</a>
          <a class="facebook-social" href="http://facebook.com/doordash" target="_blank" rel="noopener noreferrer">Facebook</a>
          <a class="instagram-social" href="http://instagram.com/doordash" target="_blank" rel="noopener noreferrer">Instagram</a>
        </div>
      </div>
    <!-- <div class="bottomleft">
      <p>Some text</p>
    </div> -->
  <!-- </body>
</html> -->